	    <!-- Cabecera -->
		<header id="cabecera">
			<!-- Barra de navegacion oculta con elemento pulsable en tablets y smartphones-->
			<nav class="navbar navbar-inverse navbar-fixed-top">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <!-- Menú hamburguesa -->
			      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>

				  <!-- Logo -->
                    <i id="logo-cabecera" class="logo glyphicon glyphicon-education"></i>
				    <p id="nombre-app">Educat-ion</p>
			    </div>

			    <!-- Elementos del menú -->
			    <div class="collapse navbar-collapse" id="myNavbar">
			      <ul class="nav navbar-nav">
					  {% for category in category_list %}
					  	<li><a href="#">{{ category.name }}</a></li>
					  {% endfor %}
			      </ul>
			      <ul class="nav navbar-nav navbar-right">
                      <li><a href="{% url 'posts_create' %}">Nuevo post</a></li>
                      <li><a href="{% url 'blogs_list' %}">Blogs</a></li>
                      <li><a href="#search">Buscar</a></li>
			          <li><a href="{% url 'users_signup' %}"><span class="glyphicon glyphicon-user"></span> Registro</a></li>
                      {% if user.is_authenticated %}
                        <li><a href="{% url 'users_logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                      {% else %}
                        <li><a href="{% url 'users_login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                      {% endif %}
			      </ul>
			    </div>
			    <!-- Elementos del menú -->
			  </div>
			</nav>

			<!-- Buscador -->
			<div id="search">
			    <button type="button" class="close">×</button>
			    <form>
			        <input type="search" placeholder="Introduzca términos a buscar"/>
			        <button type="submit" class="btn btn-primary">Buscar</button>
			    </form>
			</div>
		</header>
		<!-- Cabecera -->