{% extends "template.html" %}

{% load static %}

{% block body %}

		<!-- Detalle de artículo -->
		<section>
			<article class="articulo-detalle">
				<h2 class="articulo-titulo">{{ post_detail.title }}</h2>
				<div><img class="articulo-foto-autor" src="{% static 'img/autor.jpeg' %}"></div>
				<div class="articulo-autor-nombre">Daniel Martínez Piñero 1</div>
			    <div class="autor-fecha-publicacion">
			        <span class="glyphicon glyphicon-time"></span>
			        <span id="fecha-hora-publicacion1">{{ post_detail.published_at }}</span>
			    </div>
		        <div>
                    <img class="articulo-foto" src="{{ post_detail.url_image_or_video }}" max-width="100%">
					</a>
				</div>
			    <h5 class="articulo-etiqueta-label">Categorías
			    	    <span class="label label-danger">Lorem</span>
			    	    <span class="label label-primary">Ipsum</span>
			    </h5>
                <h2 class="articulo-titulo">Título{{ post.title }}</h2>
				<div class="articulo-parrafo-resumen"><strong>Resumen:</strong>
					{{ post_detail.head }}
				</div>
				<div class="articulo-parrafo-resumen"><strong>Cuerpo:</strong>
					{{ post_detail.body }}
				</div>
				<div class="separador"></div>
			</article>
		</section>



{% endblock %}